---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 1
    groups:
      actions-deps:
        patterns:
          - "*"
    schedule:
      interval: "daily"
    
  - package-ecosystem: "composer"
    directory: "/"
    open-pull-requests-limit: 3
    groups:
      all-updates:
        patterns:
          - "*"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 3
    groups:
      all-updates:
        patterns:
          - "*"
    schedule:
      interval: "daily"
