*.log
.DS_Store
.env
.env.*
!.env.example
!.env.testing
.phpactor.json
.phpstorm.meta.php
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/docker/mysql
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
_ide_helper.php
_ide_helper_models.php
composer.lock
Thumbs.db

# MkDocs build output
site/
