body {
    color: #6c7d8a;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 600px;
    min-height: 350px;
    margin: 150px auto 0;
    background: transparent url(../img/500error2.png) no-repeat top center;
    padding-top: 200px;
}

.container h1 {
    text-align: center;
}

.container .links {
    margin-top: 30px;
    text-align: center;
}

.container .meta {
    margin-top: 30px;
    font-size: smaller;
    color: #5c6c78;
    text-align: center;
}

.container .links a {
    background: transparent;
    color: #309aeb;
    border: 1px solid #309aeb;
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.container .links a:hover {
    background: #d8dde1;
}

a {
    color: #309aeb;
    text-decoration: none;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #adb8c0;
    color: #161a1d;
    margin-left: 5px;
    margin-right: 5px;
}